<!DOCTYPE html>
<html>
    <head>
      <title>{{name}}</title>
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <a href="/logout">ログアウトする</a>

    <body>
    <h1>QRコード作成ページ</h1>


    <form action="/add" method="post">
        <input type="text" name="title" placeholder="name">
        <input type="text" name="body" placeholder="symptoms">
        <input type="submit" value="Add">
    </form>
<!--
    <form action="/update" method="post" id="update">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body">
        <input type="submit" value="Update">
    </form>
    <form action="/delete" method="post" id="delete">
        <input type="submit" value="Delete Selected All Onegai">
    </form>
    <form action="/qrshow" method="post" id="qrshow">
        <input type="text" name="urlrandom" placeholder="urlrandom">
        <input type="submit" value="qrshow">
    </form>

       {% for onegai in all_onegai %}
        <div>
            <input type="radio" name="qrshow" form="qrshow" value={{onegai.urlrandom}}>
            <input type="radio" name="update" form="update" value={{onegai.id}}>
            <input type="checkbox" name="delete" form="delete" value={{onegai.id}}>
            {{onegai.title}}：{{onegai.body}}（{{onegai.date}}）{{onegai.urlrandom}}
        </div>
        {% endfor %}
    -->

    </body>
</html>
