<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Registar</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>QR情報</h1>

    {% for onegai in all_onegai %}
    <div>
        <p>name: {{onegai.title}}</p>
        <p>symptoms：{{onegai.body}}</p>
        <p>create date: {{onegai.date}}</p>
    </div>
    {% endfor %}
    <img src="/static/images/{{urlrandom}}.png" alt="qrcode">


    <a href="/index">戻る</a>

</body>
</html>
